{% extends 'base.html.twig' %}

{% block title %}Chambres index{% endblock %}

{% block body %}
    <h1>Chambres index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NumeroChambre</th>
                <th>TypeChambre</th>
                <th>CapaciteChambre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chambre in chambres %}
            <tr>
                <td>{{ chambre.id }}</td>
                <td>{{ chambre.NumeroChambre }}</td>
                <td>{{ chambre.TypeChambre }}</td>
                <td>{{ chambre.capaciteChambre }}</td>
                <td>
                    <a href="{{ path('chambres_show', {'id': chambre.id}) }}">show</a>
                    <a href="{{ path('chambres_edit', {'id': chambre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('chambres_new') }}">Create new</a>
{% endblock %}
